<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="top-heading">My Chats</h1>
    <form method="GET" action="/chats/new">
        <button>Create New Chat</button>
    </form>
    <br>
    <div>
        <% for(let chat of chats){ %>
            <div class="chat">
                <p class="send-by">send by : <%= chat.from %> </p>
                <div class="msg">
                    <b>Message</b> : <%= chat.message %>
                    <form method="get" action="/chats/<%=chat.id%>/edit">
                        <br>
                    <button>edit</button>
                    </form>
                    <form method="post" action="/chats/<%=chat.id%>?_method=DELETE">
                        <br>
                    <button>Delete </button>
                    </form>
                </div> 
                <p class="received-by">received by : <%=  chat.to %> <br></p>
                <hr>
                <p>Time - <%= chat.created_at.toString().split(" ")[4] %></p>
                <p>Date : <%= chat.created_at.toString().split(" ").slice(0,4).join("-")%></p>
                
            </div>
            <br> <br>
        <% } %>

    </div>
</body>
</html>

